In [1]:
# import library
import pandas as pd
import numpy as np 
import gzip

In [2]:
def parse(path):
  g = gzip.open(path, 'rb')
  for l in g:
    yield eval(l)

def getDF(path):
  i = 0
  df = {}
  for d in parse(path):
    df[i] = d
    i += 1
  return pd.DataFrame.from_dict(df, orient='index')

In [17]:
review_data_CD = getDF('reviews_CDs_and_Vinyl.json.gz')
review_data_MoviesTV = getDF('reviews_Movies_and_TV.json.gz')

In [19]:
print(review_data_CD.shape)
review_data_CD.head(1)

(3749004, 9)

,summary,reviewText,reviewTime,overall,reviewerID,asin,helpful,unixReviewTime,reviewerName
0,i love it,fantastic. old time religion is good for me. t...,"08 31, 2013",5.0,A9DMTMLFR9CO5,0001393774,"[0, 0]",1377907200,Albert Luguterah

In [18]:
print(review_data_MoviesTV.shape)
review_data_MoviesTV.head(1)

(4607047, 9)

,summary,reviewText,reviewTime,overall,reviewerID,asin,helpful,unixReviewTime,reviewerName
0,Alton... nough said,This has some great tips as always and is help...,"01 17, 2013",5.0,A3R5OBKS7OM2IR,0000143502,"[0, 0]",1358380800,Rebecca L. Johnson

In [4]:
cross_domain_reviewer = pd.merge(review_data_CD, review_data_MoviesTV, on='reviewerID', how='inner')

In [10]:
del cross_domain_reviewer

In [13]:
#del review_data_CD
#del review_data_MoviesTV

In [20]:
CD_unique = review_data_CD.reviewerID.unique()
TV_unique = review_data_MoviesTV.reviewerID.unique()

In [23]:
CD_unique = pd.DataFrame(CD_unique, columns=['reviewerID']) 
TV_unique = pd.DataFrame(TV_unique, columns=['reviewerID'])

In [25]:
TV_unique.shape

(2088620, 1)

In [26]:
CD_unique.shape

(1578597, 1)

In [27]:
cross_domain_reviewer = pd.merge(CD_unique, TV_unique, on='reviewerID', how='inner')

In [30]:
cross_domain_reviewer.shape

(400717, 1)

In [12]:
#review_data_CD.where(review_data_CD.reviewerID==review_data_MoviesTV.reviewerID).notna()

review_data_CD['reviewerID'].isin(review_data_MoviesTV['reviewerID']).value_counts()

False    1982357
True     1766647
Name: reviewerID, dtype: int64

In [14]:
twtCore = pd.read_csv('20_core_ratings.csv')

In [32]:
twtCore = pd.DataFrame(twtCore, columns=['reviewerID']) 
twtCore.shape

(2178193, 1)

In [33]:
cross_domain_reviewer_20core = pd.merge(twtCore, cross_domain_reviewer, on='reviewerID', how='inner')

In [34]:
cross_domain_reviewer_20core.shape

(1837127, 1)